In [1]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df=pd.read_csv("covid_toy.csv")

In [5]:
df.sample(5)

    age  gender  fever   cough       city has_covid
53   83    Male   98.0    Mild      Delhi       Yes
89   46    Male  103.0  Strong  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
17   40  Female   98.0  Strong      Delhi        No
52   47  Female  100.0  Strong  Bangalore       Yes

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [10]:
X_train

    age  gender  fever   cough       city
32   34  Female  101.0  Strong      Delhi
88    5  Female  100.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
56   71    Male    NaN  Strong    Kolkata
28   16    Male  104.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
61   81  Female   98.0  Strong     Mumbai
7    20  Female    NaN  Strong     Mumbai
9    64  Female  101.0    Mild      Delhi
79   48  Female  103.0    Mild    Kolkata
89   46    Male  103.0  Strong  Bangalore

[80 rows x 5 columns]

# General method

In [14]:
# adding simple imputer to fever col
si=SimpleImputer()
X_train_fever=si.fit_transform(X_train[['fever']])

# aslo the test data
X_test_fever=si.fit_transform(X_test[['fever']])
X_train_fever.shape

(80, 1)

In [22]:

# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [23]:
X_test_fever.shape

(20, 1)

In [28]:
# OneHotEncoding -> gender , city
ohe=OneHotEncoder(drop='first')
X_train_gender_city=ohe.fit_transform(X_train[['gender']])

X_train_gender_city.shape

(80, 1)

In [32]:
X_train_age=X_train.drop(columns=['gender','fever','cough','city']).values

In [33]:
X_train_age.shape

(80, 1)

In [40]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_cough),axis=1)
# also the test data

X_train_transformed.shape

(80, 3)

# Mentos Zindagi

In [41]:
from sklearn.compose import ColumnTransformer

In [42]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first'),['gender','city'])
],remainder='passthrough')

In [43]:
transformer.fit_transform(X_train).shape

(80, 7)

In [44]:

transformer.transform(X_test).shape

(20, 7)